<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StorageFilePath" value="C:\Users\delll\source\repos\Products\Client\Products.Client.ProductsCreator\bin\Debug\Products.storage" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProductsBinding">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:14714/Services/ProductsService.svc/" binding="basicHttpBinding" bindingConfiguration="ProductsBinding" contract="Products.Business.Contracts.IProductContract" />
    </client>
  </system.serviceModel>
</configuration>